.product {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.product-container {
  height: 100%;
  display: flex;
  margin-top: 60px;
  width: 100%;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.nav-product {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  border: 5px solid #16252d;
}

.product-categories {
  width: 100%;
  padding: 15px;
  background: #fff;
  box-shadow: 0 87.866px 70.2928px rgba(0, 0, 0, 0.03),
    0 56.9502px 41.1668px rgba(0, 0, 0, 0.023),
    0 33.8447px 22.3896px rgba(0, 0, 0, 0.018),
    0 17.5732px 11.4226px rgba(0, 0, 0, 0.015),
    0 7.15945px 5.72756px rgba(0, 0, 0, 0.012),
    0 1.62715px 2.76615px rgba(0, 0, 0, 0.007);
  font-size: 20px;
  color: #16252d;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.product-categories:hover {
  transform: scale(1.01);
}

.cat-list {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-items-product {
  width: 70%;
  height: 100%;
  background: #eaeaea;
  padding: 10px;
}

.h2-product {
  background-color: #16252d !important;
  color: white;
  padding: 15px;
  letter-spacing: 1px;
  font-weight: 300;
}
